<div class="auditor-working-info">
  <span class="auditor-working-info__title">{{ 'Working as: '|t }}</span>
  <span class="auditor-working-info__name">{{ name }}</span> @
  <span class="auditor-working-info__school">
    {% if school %}
      {# <strong>{{ 'School:'|t }}</strong> {{ school }} #}
      {{ school }},
    {% else %}
      {{ 'No working school set'|t }}
    {% endif %}
  </span>
  <span class="auditor-working-info__year">
    {% if year %}
      {# <strong>{{ 'Year:'|t }}</strong> {{ year }} #}
      {{ year }}
    {% else %}
      {{ 'No working year set'|t }}
    {% endif %}
  </span>
</div>
